.person {
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: large;
  border-radius: 5px;
  margin: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  padding: 4px;
}

.male {
  background-color: lightblue;
}

.female {
  background-color: lightpink;
}

.icon {
  width: 24px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
}
